body {
  font-family: monospace;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;
  border: solid 3px #6e7491;

  border: solid 3px #6e7491;
  height:100%;
  min-width:100px;
  color: white;
}

.left{
  border-top-right-radius: 23px 130px;
  background-color: #02010A;
}

.right{
  border-top-left-radius: 37px 140px;
  background-color: #0d00a4;
}

.footer{
  font-size: 7;
  text-align: center;
  width: 100vw;
}

.layer{
  border: solid 3px #3f4564;
  background-color: #22007C;
  color: #7f7ca1;
  display: flex ;
  flex-direction: column;
}

.neuron {
  height: 25px;
  width: 25px;
  background-color: rgb(54, 149, 54);
  border-radius: 50%;
  display: inline-block;
  margin-left:25%;
  margin-top: 10px;
  font-size: smaller;
  text-align: center;
  color: white;
}

.firing{
  background-color: rgb(255, 0, 0) !important;
}